{extend name="main"}

{block name="content"}
<div class="layui-tab layui-tab-card">
    {include file='config/index/tabs'}
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <form action="{:url('index')}" class="layui-form" data-auto="true" method="post">
                <div class="layui-card-body">
                    <fieldset class="layui-bg-gray">
                        <legend><b class="layui-badge think-bg-blue">帮助配置</b></legend>
                        <label class="layui-form-item relative block">
                            <span class="color-green font-w7">使用步骤</span>
                            <textarea name="help_steps" class="layui-textarea" rows="5" placeholder="每行一个步骤">{$base.help_steps|default=''}</textarea>
                            <p class="help-block"><b>可选</b>，每行一条步骤，小程序帮助页会按换行拆分显示。</p>
                        </label>
                    </fieldset>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="layui-form-item text-center">
                    <button class="layui-btn" type="submit">保存基础配置</button>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}
